.bodyCheckout {
  width: 60%;
  margin: 15px;
  background-color: white;
}
.bodyCheckout > h3 {
  text-align: center;
}
.checkout-line {
  display: flex;
}
.line-component {
  width: 50%;
}
.component {
  width: 100%;
}
