.global {
  background-color: #f2f2f2;
}
.mainCheckout {
  background-color: #f2f2f2;
  margin: 15px;
  display: flex;
}
.bodyCheckout {
  width: 60%;
  margin: 15px;
  background-color: white;
}
.bodyCheckout > h3 {
  text-align: center;
}
